.card {

  border-radius: 8px; /* for rounded corner */

 
}
h2 {
  color: rgb(248, 240, 232);
}
img {
  box-shadow: 0 4px 30px rgba(235, 233, 233, 0.3),
    0 -6px 30px rgba(226, 235, 238, 0.5);
}

.card:hover {
  box-shadow: 0 10px 18px rgba(11, 41, 16, 0.5); /*shadow*/
}
