img {
  box-shadow: 0 4px 30px rgba(235, 233, 233, 0.3),
    0 -6px 30px rgba(226, 235, 238, 0.5);
}


.card {
  border-radius: 15px;

}
@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 0%;
  }
}

.card:hover {
  border-radius: 8px;
  background: linear-gradient(270deg, #03301d, #08aa77, #02492c);
  background-size: 300% 300%;
  animation: gradient-animation 1s ease ;
}
