@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  margin: auto;
}
body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  overflow-y: visible;
  background: black;
}

button {
  border-radius: 5px;
  color: white;
  background-color: rgb(13, 161, 161);
  padding: 10px;
  width: 100px;
  font-size: large;
  font-weight: bold;
}
@keyframes border-animation {
  from {
    box-shadow: 0 0 20px 5px rgba(244, 245, 244, 0.8);
  }

  to {
    box-shadow: 0 0 20px 5px rgb(164, 235, 137);
  }
}

.animated-border {
  animation: border-animation 2s infinite; /* 2 seconds animation duration */
}
