@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
  margin:auto;
}
body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom right, #f5f3f3, #929191);
 }

 button{
  border-radius: 5px;
  color:white;
  background-color: rgb(13, 161, 161);
  padding:10px;
  width:100px;
  font-size: large;
  font-weight: bold;
 }


 